<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
    var setElm = $('span');
    $(window).load(function(){
        setElm.each(function(){
            var self = $(this);
            $(this).parent().append(self);
        });
    });
});
</script>

<div>
<span style="color:#ff0000"><tt>真</tt></span>
<span style="color:#00ff00"><tt>姫</tt></span>
<span style="color:#0000ff"><tt>ち</tt></span>
<span style="color:#ff0000"><tt>ゃ</tt></span>
<span style="color:#00ff00"><tt>ん</tt></span>
<span style="color:#0000ff"><tt>か</tt></span>
<span style="color:#ff0000"><tt>わ</tt></span>
<span style="color:#00ff00"><tt>い</tt></span>
<span style="color:#0000ff"><tt>い</tt></span>
<span style="color:#ff0000"><tt>か</tt></span>
<span style="color:#00ff00"><tt>き</tt></span>
<span style="color:#0000ff"><tt>く</tt></span>
<span style="color:#ff0000"><tt>け</tt></span>
<span style="color:#00ff00"><tt>こ</tt></span>
<span style="color:#0000ff"><tt>！</tt></span>
</div>

<%= form_for @source do |f| %>
    <%= f.label :uri, "ファイル" %>
    <%= f.file_field :uri %>
    <%= f.submit  %>
<% end %>

<% i = 0 %>
<% offset = 0 %>
<% @hex_matrix.each do |hex_arr| %>
    <% i = offset %>
    <% offset += 1 %>
    <% offset = 0 if offset == 5 %>
    <div style="white-space:nowrap">
    <% hex_arr.each do |hex| %>
        <span style="color:#<%= hex  %>"><tt><%= @chars[i] %></tt></span>
        <% i += 1 %>
        <% i = 0 if i == 5%>
    <% end %>
    </div>
<% end %>
